<div class="container-fluid">
  <div class="top first-content" style="display:none;" id="OURPHIL">
    <div class="col-md-2"><br /></div>
    <div class="col-md-8">
      <div id="info" class="container-fluid slide-spec">
        <h2 class="arial-font">Our Philosophy</h2>
        <span class="">&#183; &#183; &#183;</span>
        <img id="header-top" src="/images/marketing.jpg" alt="">
        <br>
        <br>
        <p class="">We help businesses achieve goals through design, technology & marketing. We strive to help our customers achieve better organisation within their business and through online presence.
        </p>
        <p class="">Our company is always looking to develop and improve the communication between design and functionality, and we are consistently carrying out market research to better our understanding of both design and functionality.
        </p>
      </div>
    </div>
    <div class="col-md-2"><br /></div>
  </div>
  <div class="" style="display:none;" id="OURSER">
      <div id="info" class="container-fluid text-center">
        <div class="row br">
          <h2 class="arial-font">Our Services</h2>
          <div class="col-md-4 col-sm-4 col-xs-4">
              <div class="border-spec items-prd border-small" id="Static">
                <span class="glyphicon glyphicon-star blue"></span>
                <h4>Static website</h4>
                <p>A static website is ideal for a small business, it allows customers to get basic information about your business such as opening times, contact details, addresses and more.</p>
              </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
              <div class="border-spec items-prd border-small" id="Bespoke">
                <span class="glyphicon glyphicon-star black"></span>
                <h4>Complete Rebranding</h4>
                <p>Our team will rebrand your business with new logos, consistent colorways and many more. We at Wonderstone will ensure the best design specifications for your business needs.</p>
              </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="border-spec items-prd border-small" id="Integrated">
              <span class="glyphicon glyphicon-star gold"></span>
              <h4>Bespoke Services</h4>
              <p>Our team at wonderstone will help you build whatever software you have in mind. This could range from a bespoke inventory management system or a simple update to an existing tool.</p>
            </div>
          </div>
        </div>
        <div class="row">
        </div>
      </div>
  </div>
  <div class="" style="display:none;" id="ABOUT">
      <div id="info" class="container-fluid text-center">
          <h2 class="arial-font">About us</h2>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="border-spec border-about">
              <span class="glyphicon glyphicon-star"></span>
              <h4>Bespoke Web Development</h4>
              <p>Our specialist team and design squad, will build your website from the ground up, with specifications suited to your brand.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="border-spec border-about">
              <span class="glyphicon glyphicon-heart"></span>
              <h4>Specialist Team</h4>
              <p>Our innovation team will help give your brand the push that it needs to success in an ever changing marketplace. </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="border-spec border-about">
              <span class="glyphicon glyphicon-heart"></span>
              <h4>Agile Project Management</h4>
              <p>At Wonderstone we use the agile development methodology, which means we constantly plan, test, design and develop in daily iterations. </p>
            </div>
          </div>
      </div>
      <br />
      <div class="container-fluid text-center">
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="border-spec border-about">
              <span class="	glyphicon glyphicon-home"></span>
              <h4>London Based Team</h4>
              <p>To maximize efficency we base our team in London, which allows us to streamline product deployment, communication and development.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="border-spec border-about">
              <span class="glyphicon glyphicon-ok-circle"></span>
              <h4>Design professionals</h4>
              <p>Our innovation team will help give your brand the push that it needs to success in an ever changing marketplace.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="border-spec border-about">
              <span class="glyphicon glyphicon-heart"></span>
              <h4>Free Quote</h4>
              <p>For free tailored price quotes from top web designers in the UK, complete the form below.</p>
            </div>
          </div>
      </div>
  </div>
  <div class="" style="display:none;" id="CONTACT">
    <div class="col-md-2 col-sm-2 col-xs-2"></div>
    <div class="col-md-8 col-sm-8 col-xs-8">
      <div class="jumbotron">
        <p action="info">Contact Us</p>
        <hr />
        <div class="form-group">
          <label for="inputFullName">Full Name</label>
          <input type="text" class="form-control" id="inputFullName" placeholder="Enter your full name" required>
        </div>
        <div class="form-group">
          <label for="inputFullName">Company Name</label>
          <input type="text" class="form-control" id="inputCompanyName" placeholder="Enter your companies name" required>
        </div>
        <div class="form-group">
          <label for="inputNumber">Contact Number</label>
          <input type="number" class="form-control" id="inputCompanyNumber" placeholder="Enter your prefered contact number" required>
        </div>
        <div class="form-group">
          <label for="inputEmail">Email address</label>
          <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter your prefered contact email" required>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="inputservices">What service are you most interested in?</label>
          <br>
          <select name="inputservices" id="servicesfield"class="form-control" required>
            <option value="staticWebsite">Static website</option>
            <option value="Rebranding">Complete Rebranding</option>
            <option value="Bespoke">Bespoke Services</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Customer Query</label>
          <textarea class="form-control" id="inputTextarea" placeholder="Enter your query" required></textarea>
        </div>
        <small id="submit-message"></small> <br /> <br />
        <input type="submit" onclick="formSubmit()" class="btn btn-primary" />
      </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2"></div>
  </div>
</div>
