<div class="container-fluid topnav text-center">
  <p class="active" onclick="Navigation('OURPHIL')" id="" href="#home">OUR PHILOSOPHY</p>
  <p href="#news" onclick="Navigation('OURSER')" id="">OUR SERVICES</p>
  <p href="#contact" onclick="Navigation('ABOUT')" id="">ABOUT US</p>
  <p href="#about" onclick="Navigation('CONTACT')" id="">CONTACT FORM</p>
</div>
