<div class="container-fluid topnav text-center">
  <p class="first" onclick="Navigation('OURPHIL', this)" id="nav-phil" href="#home">OUR PHILOSOPHY</p>
  <p href="#news" onclick="Navigation('OURSER', this)" id="nav-serv">OUR SERVICES</p>
  <p href="#contact" onclick="Navigation('ABOUT', this)" id="nav-about">ABOUT US</p>
  <p href="#about" onclick="Navigation('CONTACT', this)" id="nav-form">CONTACT FORM</p>
</div>
