<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <br>
      <button onclick="dbRead()">CLICK ME</button>
      <br>
      <br>
      <div id="customers">
        <table id="lardle">
          <tr>
            <th>Name</th>
            <th>Companyname</th>
            <th>Query</th>
            <th>Contactnumber</th>
            <th>email</th>
            <th>Service Selected</th>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>