<div class="container-fluid">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="container-fluid header text-center">
            <h1>WonderStone <span>&#10037;</span> Group</h1>
        </div>
        <div class="container-fluid header text-center">
            <small>Application Development Specialists</small>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="container-fluid">
          <div class="jumbotron">
            <form class="form" action="#" onsubmit="formSubmit()" method="get">
              <p action="info">Contact Us</p>
              <hr />
              <div class="form-group">
                <label for="inputFullName">Full Name</label>
                <input type="text" class="form-control" id="inputFullName" placeholder="Enter your full name">
              </div>
              <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Customer Query</label>
                <textarea class="form-control" id="inputTextarea" placeholder="Enter your query"></textarea>
              </div>
              <small id="submit-message"></small> <br /> <br />
              <input type="submit" class="btn btn-primary" />
            </form>
          </div>
        </div>
        <br />
        <br />
        <div class="content-shadow">
            <hr>
            <div id="info" class="container-fluid text-center">
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-star"></span>
                    <h4>Bespoke Web Development</h4>
                    <p>Our specialist team and design squad, will build your website from the ground up, with specifications suited to your brand.</p>
                </div>
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-heart"></span>
                    <h4>Specialist Team</h4>
                    <p>Our innovation team will help give your brand the push that it needs to success in an ever changing marketplace. </p>
                </div>
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-heart"></span>
                    <h4>Agile Project Management</h4>
                    <p>At Wonderstone we use the agile development methodology, which means we constantly plan, test, design and develop in daily iterations. </p>
                </div>
            </div>
            <br />
            <div class="container-fluid text-center">
                <div class="col-md-4">
                    <span class="	glyphicon glyphicon-home"></span>
                    <h4>London Based Team</h4>
                    <p>To maximize efficency we base our team in London, which allows us to streamline product deployment, communication and development.</p>
                </div>
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-ok-circle"></span>
                    <h4>Design professionals</h4>
                    <p>Our innovation team will help give your brand the push that it needs to success in an ever changing marketplace.</p>
                </div>
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-heart"></span>
                    <h4>Free Quote</h4>
                    <p>For free tailored price quotes from top web designers in the UK, complete the form below.</p>
                </div>
            </div>
        </div>
        <br />
        <br />
    </div>
    <div class="col-md-2"></div>
</div>
