<div class="container-fluid">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="container-fluid header text-center">
            <h1>WonderStone <span>&#10037;</span> Group</h1>
        </div>
        <div class="container-fluid header text-center">
            <small>Application Development Specialists</small>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="container-fluid">
          <div class="">
            <a href="/ebay/auth">Login</a>
          </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
