@font-face {
  font-family: 'cocogoose';
  font-weight: 900;
  src: url('./cocoultralight.ttf'); /* IE9 Compat Modes */
  src: local('cocoultralight'), local('OpenSans'),
       url('./cocoultralight.ttf') format('truetype');
}
@font-face {
  font-family: 'cocogooselight';
  font-weight: 900;
  src: url('./cocolight.ttf'); /* IE9 Compat Modes */
  src: local('cocolight'), local('OpenSans'),
       url('./cocolight.ttf') format('truetype');
}
.App-header {
  background-color: #ffd800;
  padding: 25px 0;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.row{
  margin-right: 0 !important;
}

.App-intro {
  font-size: large;
}

::-webkit-input-placeholder {
  color: peachpuff;
  font-family: cocogoose;
  font-size: 13px;
}
::-moz-placeholder {
  color: peachpuff;
  font-family: cocogoose;
  font-size: 13px;
}
:-ms-input-placeholder {
  color: peachpuff;
  font-family: cocogoose;
  font-size: 13px;
}
::placeholder {
  color: peachpuff;
  font-family: cocogoose;
  font-size: 13px;
}