@font-face {
  font-family: 'cocogoose';
  font-weight: 900;
  src: url('./reg.ttf'); /* IE9 Compat Modes */
  src: local('reg'), local('OpenSans'),
       url('./reg.ttf') format('truetype');
}
/* cocoultralight.ttf */
/* cocolight.ttf */
@font-face {
  font-family: 'cocogooselight';
  font-weight: 900;
  src: url('./bold.ttf'); /* IE9 Compat Modes */
  src: local('bold'), local('OpenSans'),
       url('./bold.ttf') format('truetype');
}
.App-header {
  background-color: white;
  border-bottom: 10px solid black;
  padding: 10px 0;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 9;
}
.Heading{
  font-size: 40px;
}
.cont {
  padding-top: 130px;
}
.App-title {
  font-size: 1.5em;
}

.row{
  margin-right: 0 !important;
}

.App-intro {
  font-size: large;
}

::-webkit-input-placeholder {
  color: peachpuff;
  font-family: cocogoose;
  font-size: 13px;
}
::-moz-placeholder {
  color: peachpuff;
  font-family: cocogoose;
  font-size: 13px;
}
:-ms-input-placeholder {
  color: peachpuff;
  font-family: cocogoose;
  font-size: 13px;
}
::placeholder {
  color: peachpuff;
  font-family: cocogoose;
  font-size: 13px;
}

.fancy{
  color: #fbc531;
}

.interesting{
  color: #192a56;
}

.headerColourMood{
  margin: 10px;
  height: 150px;
}

.align-left{
  text-align: left;
}