@media only screen and (max-width: 2000px) and (min-width: 700px)  {
  body{
    background-color: white;
  }
  .App-logo {
    width: 60px;
  }
  .font-small {
    font-size: 30px;
  }
  .form-group button{
    text-align: center;
    margin:auto;
    width: 100%;
  }
  .goose{
    font-family: cocogoose;
  }
  .gooselight{
    font-family: cocogooselight;
  }
  .title {
    background-color: aqua;
  }
  .bitle {
    border-left: 4px solid black;
    padding-left: 20px;
  }
  .text-align-left{
    text-align: left;
  }
  .banner{
    text-align: center
  }
  /* ffd800 */
  .footer{
    width: 100%;
    background-color: white;
    border-top: 70px solid white;
    padding: 10px 0;
    display: inline-block;
  }
  html {
    overflow: scroll;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
      width: 0px;  /* remove scrollbar space */
      background: transparent;  /* optional: just make scrollbar invisible */
  }
  /* optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
      background: #FF0000;
  }
  .App-banner {
    width: 100%;
    border: 2px solid black;
    padding: 0px;
  }
  .default-font{
    font-family: Arial, Helvetica, sans-serif
  }
  .col-sb-12{
    display: inline-block;
    width: 100%
  }
  .col-sb-10{
    display: inline-block;
    width: 83%
  }
  .col-sb-8{
    display: inline-block;
    width: 66.4%
  }
  .col-sb-4{
    display: inline-block;
    width: 33.2%
  }
  .col-sb-2{
    display: inline-block;
    width: 16.6%
  }
  .col-sb-1{
    display: inline-block;
    width: 12%
  }
  .App-box{
    width: 100%;
  }
}

@media only screen and (max-width: 700px) and (min-width: 400px)  {
  .content{
    width: 100%;
  }
  .App-logo {
    width: 50px;
  }
  .goose{
    font-family: cocogoose;
  }
  .gooselight{
    font-family: cocogooselight;
  }
  .g-row{
    text-align: center;
  }
  .main-Form{
    padding: 30px ;
  }
  .App-box {
    display: none;
  }
  .banner{
    text-align: center
  }
  .font-small {
    font-size: 30px;
  }
  .banner img{
    width: 100%;
    border: 2px solid black;
    padding: 0px;
  }
  .App-banner {
    width: 100%;
    border: 2px solid black;
    padding: 0px;
    margin: auto;
    text-align: center;
  }
  .title {
    border-left: 2px solid black;
    padding-left: 20px;
  }
  .footer{
    width: 100%;
    background-color: white;
    border-top: 100px solid white;
    padding: 10px 0;
    display: inline-block
  }
}
